# Eat Safe, Love

## Notebook Set Up

In [7]:
# Import dependencies
from pymongo import MongoClient
#from pprint import print
import pandas as pd

In [8]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [9]:
# assign the uk_food database to a variable name
uk_food_db = mongo['uk_food']

In [10]:
# review the collections in our database
print(uk_food_db.list_collection_names())

['establishments']

In [11]:
# assign the collection to a variable
establishments = uk_food_db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [12]:
# Find the establishments with a hygiene score of 20 

query = {'scores.Hygiene' : 20}
result=list(establishments.find(query))

# Use count_documents to display the number of documents in the result

print('The number of the establishments with hygiene score of 20 are:', establishments.count_documents(query))
print('-----------------------------------------------------------------')

# Display the first document in the results using print

print('The first establishment with hygiene score of 20 is :')
print('                       ')
print(result[0])

The number of the establishments with hygiene score of 20 are: 41
-----------------------------------------------------------------
The first establishment with hygiene score of 20 is :

{'_id': ObjectId('665329eda7566959e185d262'), 'FHRSID': 110681, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '4029', 'BusinessName': 'The Chase Rest Home', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': '5-6 Southfields Road', 'AddressLine2': 'Eastbourne', 'AddressLine3': 'East Sussex', 'AddressLine4': '', 'PostCode': 'BN21 1BU', 'Phone': '', 'RatingValue': '0', 'RatingKey': 'fhrs_0_en-gb', 'RatingDate': '2021-09-23T00:00:00', 'LocalAuthorityCode': '102', 'LocalAuthorityName': 'Eastbourne', 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings', 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 20, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.27694, 'latitude': 50.769705}, 'RightToReply': '', 'Distance': 4613.888288172291, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/110681'}]}

In [9]:
# Convert the result to a Pandas DataFrame

worse_establishments_db=pd.json_normalize(result)

# Display the number of rows in the DataFrame

print('Number of the rows are :' ,worse_establishments_db.shape[0])

# Display the first 10 rows of the DataFrame

worse_establishments_db.head(10)

Number of the rows are : 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,665329eda7566959e185d262,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,665329eda7566959e185d5e2,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,665329eda7566959e185d8ea,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,665329eda7566959e185dada,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,665329eda7566959e185dae9,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,665329eda7566959e185e489,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,665329eda7566959e185e6aa,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,51.5350065,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,665329eea7566959e185fbd3,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,665329eea7566959e1860018,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,665329eea7566959e186082a,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.57005,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {
    "$and": [
        {"LocalAuthorityName": {'$regex' : "London"}},
        {"$or": [{"RatingValue":'4'}, {"RatingValue": "5"}]}
            ]
        }
           
    
result = list(establishments.find(query))

# Use count_documents to display the number of documents in the result 

print( 'the number of docunebts are :', establishments.count_documents(query))
print ('----------------------------------')

# Display the first document in the results using print

print ('The first document is:')
print('')
print(result[0])

the number of docunebts are : 33
----------------------------------
The first document is:

{'_id': ObjectId('665329eda7566959e185ec7c'), 'FHRSID': 621707, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000025307', 'BusinessName': "Charlie's", 'BusinessType': 'Other catering premises', 'BusinessTypeID': 7841, 'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks', 'AddressLine2': 'Sheppy Kent', 'AddressLine3': '', 'AddressLine4': '', 'PostCode': 'ME12', 'Phone': '', 'RatingValue': '4', 'RatingKey': 'fhrs_4_en-gb', 'RatingDate': '2021-10-18T00:00:00', 'LocalAuthorityCode': '508', 'LocalAuthorityName': 'City of London Corporation', 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm', 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk', 'scores': {'Hygiene': 5, 'Structural': 10, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.508551, 'latitude': 51.369321}, 'RightToReply': '', 'Distance': 4627.439467780196, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/621707'}]}

In [11]:
# Convert the result to a Pandas DataFrame

high_rating_value=pd.json_normalize(result)

# Display the number of rows in the DataFrame

print('Number of rows are:' , high_rating_value.shape[0])

# Display the first 10 rows of the DataFrame

high_rating_value.head(10)

Number of rows are: 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,665329eda7566959e185ec7c,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,665329eda7566959e185efa0,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,665329eea7566959e185faef,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,665329eea7566959e18608ef,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,665329eea7566959e18608f4,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,665329eea7566959e1860ff8,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,665329efa7566959e1863107,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,665329efa7566959e18634d0,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,665329efa7566959e18634e5,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,665329efa7566959e18634e6,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000        

query = {'RatingValue': '5', 
         "geocode.longitude": {'$gte': longitude - degree_search, '$lte':longitude + degree_search}, 
         "geocode.latitude": {'$gte': latitude - degree_search, '$lte': latitude + degree_search}}

sort = [('scores.Hygiene', 1)]
limit = 5

results=list(establishments.find(query).sort(sort).limit(limit))

# Print the results
for result in results:
    print(result)

In [14]:
# Convert result to Pandas DataFrame
top_5_results = pd.json_normalize(results)
top_5_results.head(5)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [14]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0 

match_query = {'$match': {'scores.Hygiene' : 0}}

# 2. Groups the matches by Local Authority

group_query = {'$group' : {'_id': '$LocalAuthorityName', 'count' : {'$sum': 1}}}
                
# 3. Sorts the matches from highest to lowest

sort_values = {'$sort': {'count': -1 }}

pipeline = [match_query, group_query, sort_values]

result = list(establishments.aggregate(pipeline))

# Print the number of documents in the result

print('Number of documents in result:' , len(result))
print('-'*50)
print("")

# Print the first 10 results
print(result[0:10])

Number of documents in result: 55
--------------------------------------------------

[{'_id': 'Thanet', 'count': 1130}, {'_id': 'Greenwich', 'count': 882}, {'_id': 'Maidstone', 'count': 713}, {'_id': 'Newham', 'count': 711}, {'_id': 'Swale', 'count': 686}, {'_id': 'Chelmsford', 'count': 680}, {'_id': 'Medway', 'count': 672}, {'_id': 'Bexley', 'count': 607}, {'_id': 'Southend-On-Sea', 'count': 586}, {'_id': 'Tendring', 'count': 542}]

In [16]:
# Convert the result to a Pandas DataFrame

establishments_LocalAuthority=pd.json_normalize(result)

# Display the number of rows in the DataFrame 

print("Rows in DataFrame: ", len(establishments_LocalAuthority))

# Display the first 10 rows of the DataFrame

establishments_LocalAuthority.head(10)

Rows in DataFrame:  56

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542